.c-heading {
  text-align: center;
}

.c-heading__white {
  color: #fff;
}

.c-heading__text {
  color: #159741;
  font-size: clamp(0.875rem, 0.786971831rem + 0.3755868545vw, 1.125rem);
  font-weight: 700;
  letter-spacing: clamp(0.04375rem, 0.0393485915rem + 0.0187793427vw, 0.05625rem);
}

.c-heading__text-white {
  color: #fff;
}

.c-heading__ttl {
  margin-top: clamp(0.75rem, 0.661971831rem + 0.3755868545vw, 1rem);
  font-family: "Quicksand", sans-serif;
  font-size: clamp(2rem, 1.6478873239rem + 1.5023474178vw, 3rem);
  font-weight: 400;
  letter-spacing: clamp(0.1rem, 0.0823943662rem + 0.0751173709vw, 0.15rem);
  position: relative;
}
.c-heading__ttl::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #159741;
  bottom: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.c-heading__ttl-white::after {
  background: #fff;
}

.c-button {
  width: clamp(16.25rem, 15.3697183099rem + 3.7558685446vw, 18.75rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  border: 1px solid #333;
  margin: 0 auto;
}

.c-button__text {
  display: inline-block;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-block: clamp(1.0625rem, 1.0625rem + 0vw, 1.0625rem);
}

.c-page__top {
  width: clamp(4.375rem, 3.2746478873rem + 4.6948356808vw, 7.5rem);
  height: clamp(4.375rem, 3.2746478873rem + 4.6948356808vw, 7.5rem);
  border: 2px solid #333;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -4.1666vw;
  right: 60px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .c-page__top {
    top: -9.3333vw;
    right: 4.2666vw;
  }
}
.c-page__top:hover {
  background: #2f2f2f;
}
.c-page__top:hover .c-page__top-svg path {
  fill: #fff;
}
.c-page__top:hover .c-page__top-text {
  color: #fff;
}

.c-page__top-svg {
  width: clamp(2rem, 1.6258802817rem + 1.5962441315vw, 3.0625rem);
  height: clamp(2rem, 1.6258802817rem + 1.5962441315vw, 3.0625rem);
  text-align: center;
}
.c-page__top-svg svg {
  width: clamp(2rem, 1.6258802817rem + 1.5962441315vw, 3.0625rem);
  height: clamp(2rem, 1.6258802817rem + 1.5962441315vw, 3.0625rem);
}
.c-page__top-svg path {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.c-page__top-text {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(0.75rem, 0.661971831rem + 0.3755868545vw, 1rem);
  letter-spacing: clamp(0.0225rem, 0.0198591549rem + 0.0112676056vw, 0.03rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.l-header {
  background-color: #2f2f2f;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  padding-right: 71px;
  padding-left: 31px;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .l-header__logo img {
    width: 54px;
  }
}

.l-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .l-header__nav-list {
    gap: 20px;
  }
}

.l-header__nav-item {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(0.875rem, 0.786971831rem + 0.3755868545vw, 1.125rem);
  letter-spacing: 0.54px;
}

@media screen and (max-width: 1080px) {
  .luxy-el {
    -webkit-transform: none !important;
            transform: none !important;
    will-change: auto !important;
  }
}
.l-parallax__wrapper {
  height: min(450px, 31.25vw);
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .l-parallax__wrapper {
    height: 66.6666vw;
  }
}

.l-parallax__image img {
  width: 100%;
}
@media screen and (max-width: 1080px) {
  .l-parallax__image {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}
@media screen and (max-width: 767px) {
  .l-parallax__image {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.l-footer {
  background: #f2f2f2;
  padding-top: clamp(3rem, 2.823943662rem + 0.7511737089vw, 3.5rem);
  padding-bottom: 9px;
  position: relative;
}

.l-footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.l-footer__sns-icon {
  display: inline-block;
}

.anchor {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #2f2f2f;
  border: 2px solid #2f2f2f;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.anchor:hover {
  background-color: transparent;
}
.anchor:hover .fa-brands {
  color: #2f2f2f;
}

.fa-brands {
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.l-footer__links {
  margin-top: 40px;
}

.l-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(2rem, 1.823943662rem + 0.7511737089vw, 2.5rem);
}

.l-footer__link-item {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  letter-spacing: clamp(0.03rem, 0.0286795775rem + 0.0056338028vw, 0.03375rem);
}

.l-footer__logo {
  margin-top: clamp(2.5625rem, 2.5184859155rem + 0.1877934272vw, 2.6875rem);
  text-align: center;
}

.l-footer__copyright {
  display: block;
  margin-top: 1.3888vw;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 767px) {
  .l-footer__copyright {
    margin-top: 7.7333vw;
  }
}

body {
  background-color: #2f2f2f;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
}

.inner {
  max-width: 1189px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.hidden-pc {
  display: none;
}
@media screen and (max-width: 767px) {
  .hidden-pc {
    display: block;
  }
}

.p-fv {
  background-color: #2f2f2f;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-fv {
    padding-bottom: 20px;
  }
}

.p-fv__bg {
  text-align: right;
  position: relative;
}
.p-fv__bg img {
  width: 75vw;
  max-width: 1080px;
}
@media screen and (max-width: 767px) {
  .p-fv__bg img {
    width: 82.1333vw;
  }
}

.p-fv__container {
  position: absolute;
  -moz-text-align-last: left;
       text-align-last: left;
  top: min(6.5277vw, 94px);
  padding-left: min(12.3611vw, 178px);
}
@media screen and (max-width: 767px) {
  .p-fv__container {
    padding-left: 20px;
  }
}

.p-fv__ttl-text {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(2.25rem, 0.8415492958rem + 6.0093896714vw, 6.25rem);
  line-height: min(6.9444vw, 100px);
}
.p-fv__ttl-text span {
  color: #159741;
}
@media screen and (max-width: 767px) {
  .p-fv__ttl-text {
    line-height: normal;
  }
}

.p-fv__lead {
  margin-top: clamp(0.9375rem, 0.4533450704rem + 2.0657276995vw, 2.3125rem);
}

.p-fv__lead-text {
  color: #fff;
  font-size: clamp(0.875rem, 0.4788732394rem + 1.6901408451vw, 2rem);
  font-weight: 700;
  letter-spacing: clamp(0.04375rem, 0.023943662rem + 0.0845070423vw, 0.1rem);
}
@media screen and (max-width: 767px) {
  .p-fv__lead-text {
    font-weight: 500;
  }
}

.p-fv__lead-green {
  background-color: #159741;
  padding-block: clamp(0.4375rem, 0.3934859155rem + 0.1877934272vw, 0.5625rem);
  padding-right: clamp(0.5rem, 0.2139084507rem + 1.220657277vw, 1.3125rem);
  color: #fff;
  font-size: clamp(0.875rem, 0.4788732394rem + 1.6901408451vw, 2rem);
  font-weight: 700;
  letter-spacing: clamp(0.04375rem, 0.023943662rem + 0.0845070423vw, 0.1rem);
  margin-top: clamp(0.5625rem, 0.298415493rem + 1.1267605634vw, 1.3125rem);
}
@media screen and (max-width: 767px) {
  .p-fv__lead-green {
    padding-top: 4px;
    font-weight: 500;
  }
}

.p-section {
  background-color: #2f2f2f;
  padding-top: 120px;
  padding-bottom: 110px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .p-section {
    padding-top: 28px;
    padding-bottom: 64px;
  }
}

.p-section__container {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-section__container {
    padding-inline: 8.7999vw;
  }
}

.p-section__ttl {
  color: #fff;
  font-size: clamp(1.25rem, 1.0299295775rem + 0.9389671362vw, 1.875rem);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: clamp(0.0625rem, 0.0514964789rem + 0.0469483568vw, 0.09375rem);
}

.p-section__box {
  margin-top: clamp(1.5rem, 0.9718309859rem + 2.2535211268vw, 3rem);
}

.p-section__text {
  color: #fff;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  line-height: 150%;
  letter-spacing: clamp(0.03rem, 0.0286795775rem + 0.0056338028vw, 0.03375rem);
}

.p-section__bg-text {
  position: absolute;
  color: rgba(103, 103, 103, 0.3);
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(6.875rem, 3.1338028169rem + 15.9624413146vw, 17.5rem);
  font-weight: 400;
  line-height: clamp(5.5rem, 1.2746478873rem + 18.0281690141vw, 17.5rem);
  white-space: nowrap;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: -54px;
  left: 50%;
  -webkit-transform: translateX(-43%);
          transform: translateX(-43%);
}
@media screen and (max-width: 767px) {
  .p-section__bg-text {
    letter-spacing: 3.3px;
    bottom: -10px;
    left: unset;
    -webkit-transform: none;
            transform: none;
    text-align: right;
    right: 0;
  }
}

.p-about {
  padding-top: 130px;
  padding-bottom: 150px;
  background: #f2f2f2;
}
@media screen and (max-width: 767px) {
  .p-about {
    padding-top: 17.0666vw;
    padding-bottom: 17.0666vw;
  }
}

.p-about__inner {
  max-width: 1160px;
  padding-inline: 40px;
}
@media screen and (max-width: 767px) {
  .p-about__inner {
    padding-inline: 4.2666vw;
  }
}

.p-about__container {
  margin-top: clamp(4.25rem, 3.6338028169rem + 2.6291079812vw, 6rem);
}

.p-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(3.5rem, 3.323943662rem + 0.7511737089vw, 4rem);
}

.p-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(2rem, 1.1637323944rem + 3.5680751174vw, 4.375rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .p-about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.p-about__item:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .p-about__item:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.p-about__item:nth-of-type(2) .p-about__item-box::after {
  content: "02";
}
@media screen and (max-width: 767px) {
  .p-about__item:nth-of-type(2) .p-about__item-box::after {
    top: 8.5333vw;
    right: -2.1333vw;
  }
}
.p-about__item:nth-of-type(3) .p-about__item-box::after {
  content: "03";
}
@media screen and (max-width: 767px) {
  .p-about__item:nth-of-type(3) .p-about__item-box::after {
    top: -7.4666vw;
    right: -2.1333vw;
  }
}

.p-about__item-image {
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .p-about__item-image {
    max-width: 100%;
  }
}

.p-about__item-box {
  width: 570px;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .p-about__item-box {
    width: 100%;
  }
}
.p-about__item-box::after {
  content: "01";
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Quicksand", sans-serif;
  font-size: clamp(11.25rem, 8.8732394366rem + 10.1408450704vw, 18rem);
  letter-spacing: 17.28px;
  top: -100px;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .p-about__item-box::after {
    letter-spacing: normal;
    right: -4.8vw;
    top: -1.0666vw;
  }
}

.p-about__item-ttl {
  font-size: clamp(1.5rem, 1.3679577465rem + 0.5633802817vw, 1.875rem);
  font-weight: 700;
  letter-spacing: clamp(0.075rem, 0.0683978873rem + 0.0281690141vw, 0.09375rem);
  white-space: nowrap;
}
.p-about__item-ttl span {
  color: #159741;
}

.p-about__item-text {
  width: clamp(20.4375rem, 18.8309859155rem + 6.8544600939vw, 25rem);
  margin-top: clamp(1rem, 0.823943662rem + 0.7511737089vw, 1.5rem);
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  line-height: 150%;
  letter-spacing: clamp(0.03rem, 0.0286795775rem + 0.0056338028vw, 0.03375rem);
}
@media screen and (max-width: 767px) {
  .p-about__item-text {
    width: 100%;
  }
}

.p-menu {
  padding-block: 72px;
}

.p-menu__inner {
  max-width: 1160px;
  margin: 0 auto;
  padding-inline: 40px;
  padding-top: 80px;
  padding-bottom: 100px;
  border: 2px solid #fff;
}

.p-menu__text {
  margin-top: 48px;
  color: #fff;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  font-weight: 500;
  letter-spacing: clamp(0.03rem, 0.0286795775rem + 0.0056338028vw, 0.03375rem);
  text-align: center;
}

.p-menu__container {
  margin-top: 54px;
}

.p-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-menu__item-image {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.p-menu__item-wrap {
  padding: 13px;
  background-color: #fff;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  z-index: -1;
}

.p-menu__instagram {
  -webkit-transform: none;
          transform: none;
}

.p-menu__body {
  background-color: #fff;
  text-align: center;
  border: 1px solid #333;
  padding-top: 100px;
  padding-bottom: 32px;
  width: 565px;
  height: 341px;
}

.p-menu__instagram-body {
  padding-top: 88px;
  padding-bottom: 24px;
  width: 100%;
  height: 100%;
}

.p-menu__body-heading {
  background-color: #159741;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 9px;
  padding-bottom: 14px;
  width: 251px;
}

.p-menu__heading-heading {
  width: 300px;
}

.p-menu__body-heading-text {
  font-family: "satisfy", sans-serif;
  font-size: clamp(0.75rem, 0.7059859155rem + 0.1877934272vw, 0.875rem);
  letter-spacing: clamp(0.0225rem, 0.0211795775rem + 0.0056338028vw, 0.02625rem);
}

.p-menu__body-heading-ttl {
  font-size: clamp(1.125rem, 0.9929577465rem + 0.5633802817vw, 1.5rem);
  font-weight: 500;
  letter-spacing: clamp(0.03375rem, 0.0297887324rem + 0.0169014085vw, 0.045rem);
}

.p-menu__instagram-body-ttl {
  font-size: clamp(1.5rem, 1.3679577465rem + 0.5633802817vw, 1.875rem);
  font-family: "Quicksand", sans-serif;
}

.p-menu__instagram-images {
  margin-top: 34px;
  overflow-x: auto;
  width: 100%;
}

.p-menu__instagram-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
@media screen and (max-width: 767px) {
  .p-menu__instagram-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-menu__instagram-item {
  scroll-snap-align: start;
  min-width: 231px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .p-menu__instagram-item {
    width: 125px;
  }
}
.p-menu__instagram-item img {
  display: block;
  width: 100%;
}

.p-menu__body-ttl {
  font-size: clamp(1.5rem, 1.3679577465rem + 0.5633802817vw, 1.875rem);
  font-weight: 700;
  letter-spacing: clamp(0.15rem, 0.1367957746rem + 0.0563380282vw, 0.1875rem);
}

.p-menu__instagram-ttl {
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  letter-spacing: clamp(0.05rem, 0.0477992958rem + 0.0093896714vw, 0.05625rem);
}

.p-menu__body-prices {
  margin-top: 20px;
}

.p-menu__body-yen {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(1.125rem, 0.9929577465rem + 0.5633802817vw, 1.5rem);
  letter-spacing: clamp(0.1125rem, 0.0992957746rem + 0.0563380282vw, 0.15rem);
}

.p-menu__body-price {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(1.875rem, 1.6549295775rem + 0.9389671362vw, 2.5rem);
  letter-spacing: clamp(0.1875rem, 0.1654929577rem + 0.0938967136vw, 0.25rem);
}

.p-menu__body-tax {
  font-size: clamp(0.75rem, 0.6179577465rem + 0.5633802817vw, 1.125rem);
  font-weight: 500;
  letter-spacing: clamp(0.075rem, 0.0617957746rem + 0.0563380282vw, 0.1125rem);
}

.p-menu__body-kcl {
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.6549295775rem + 0.9389671362vw, 1.5rem);
  letter-spacing: clamp(0.02625rem, 0.0196478873rem + 0.0281690141vw, 0.045rem);
}

.p-menu__instagram-id {
  margin-top: 8px;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
}

.p-menu__instagram-button {
  margin-top: 26px;
}

.p-shop {
  padding-block: 120px;
  background-color: #f2f2f2;
}

.p-shop__inner {
  max-width: 1159px;
  padding-inline: clamp(1rem, 0.4718309859rem + 2.2535211268vw, 2.5rem);
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-shop__inner {
    width: 100%;
  }
}

.p-shop__map {
  margin-top: 95px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
@media screen and (max-width: 767px) {
  .p-shop__map {
    height: 250px;
  }
}
.p-shop__map iframe {
  width: 100%;
  height: clamp(15.625rem, 10.8934859155rem + 20.1877934272vw, 29.0625rem);
}

.p-shop__map-inner {
  max-width: 1440px;
  margin: 0 auto;
}

.p-shop__access {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(2.5rem, 0.4973591549rem + 8.544600939vw, 8.1875rem);
}
@media screen and (max-width: 767px) {
  .p-shop__access {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-shop__store-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .p-shop__store-ttl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-shop__store-prefix {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-right: 4px;
}

.p-shop__store-main {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0.96px;
}
@media screen and (max-width: 767px) {
  .p-shop__store-main {
    line-height: 100%;
  }
}

.p-shop__store-sub {
  font-size: 18px;
  letter-spacing: clamp(0.03rem, 0.0286795775rem + 0.0056338028vw, 0.03375rem);
}
@media screen and (max-width: 767px) {
  .p-shop__store-sub {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .p-shop__store-sub-sp {
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 4px;
  }
}

.p-shop__store-route {
  margin-top: 25px;
}

.p-store__info-top {
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  line-height: 200%;
  letter-spacing: clamp(0.03rem, 0.0286795775rem + 0.0056338028vw, 0.03375rem);
}
@media screen and (max-width: 767px) {
  .p-store__info-top {
    line-height: 170%;
  }
}

.p-shop__image {
  margin-right: calc(-50vw + 50%);
}
@media screen and (max-width: 767px) {
  .p-shop__image {
    margin: 0;
  }
}

.p-store__info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: clamp(0.3125rem, 0.048415493rem + 1.1267605634vw, 1.0625rem);
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  line-height: 200%;
  letter-spacing: clamp(0.03rem, 0.0286795775rem + 0.0056338028vw, 0.03375rem);
}
@media screen and (max-width: 767px) {
  .p-store__info-bottom {
    line-height: 170%;
  }
}

.p-store__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p-store__label {
  width: 90px;
}

.p-store__value {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-store__card-wrap {
  margin-top: 5.5555vw;
  max-width: 1146px;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-store__card-wrap {
    width: 100%;
    margin-top: 26.1333vw;
  }
}

.p-store__card {
  background: #fff;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(161, 159, 159, 0.6);
          box-shadow: 0px 4px 20px 0px rgba(161, 159, 159, 0.6);
  padding: 30px 32px 41px 32px;
}
@media screen and (max-width: 767px) {
  .p-store__card {
    padding: 18px 10px 113px 10px;
  }
}

.p-store__card-stamp {
  position: absolute;
  top: -5.4861vw;
  left: -7.222vw;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .p-store__card-stamp {
    top: -11.2vw;
    left: -3.4666vw;
  }
}
@media screen and (max-width: 767px) {
  .p-store__card-stamp img {
    width: clamp(7rem, 3.1267605634rem + 16.5258215962vw, 18rem);
  }
}

.p-store__card-text-left {
  position: absolute;
  bottom: 113px;
  left: 35px;
  font-family: "satisfy", sans-serif;
  font-size: clamp(1.875rem, 1.4788732394rem + 1.6901408451vw, 3rem);
  letter-spacing: clamp(0.09375rem, 0.073943662rem + 0.0845070423vw, 0.15rem);
}
@media screen and (max-width: 767px) {
  .p-store__card-text-left {
    bottom: 360px;
    left: 20px;
  }
}

.p-store__card-text-right {
  position: absolute;
  bottom: 15px;
  right: 44px;
}
@media screen and (max-width: 767px) {
  .p-store__card-text-right {
    bottom: 31px;
    right: 13px;
  }
}

.p-store__card-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.9861vw;
}
@media screen and (max-width: 767px) {
  .p-store__card-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16.8vw;
  }
}

.p-store__card-image-left img,
.p-store__card-image-right img {
  display: block;
  width: 100%;
  margin: 0;
  height: auto;
}

.p-store__card-image-left {
  width: 60%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-store__card-image-left {
    width: 100%;
  }
}

.p-store__card-image-rectangle-left {
  position: absolute;
  width: 93%;
  height: 93%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #fff;
}

.p-store__card-image-right {
  width: 43%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-store__card-image-right {
    width: 100%;
  }
}

.p-store__card-image-rectangle-right {
  position: absolute;
  width: 93%;
  height: 93%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #fff;
}

.p-store__card-description {
  width: clamp(20rem, 13.573943662rem + 27.4178403756vw, 38.25rem);
  color: #4f4f4f;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-store__card-description {
    width: 100%;
  }
}
.p-store__card-description p {
  width: 100%;
  line-height: 250%;
}
@media screen and (max-width: 767px) {
  .p-store__card-description p span {
    display: block;
    border-bottom: 1px solid #c4c4c4;
    padding-left: 12px;
  }
}

.p-contact {
  padding-block: 130px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-contact {
    padding-block: 64px;
  }
}
.p-contact::before {
  content: "";
  position: absolute;
  background: url(/img/contact-bg.png) no-repeat center center/cover;
  inset: 0;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .p-contact__inner {
    padding-inline: 16px;
  }
}

.p-contact__container {
  width: 800px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 72px;
  background: #f2f2f2;
}
@media screen and (max-width: 767px) {
  .p-contact__container {
    width: 100%;
    padding-inline: 16px;
    padding-bottom: 64px;
  }
}

.p-contact__text {
  text-align: center;
  margin-top: 42px;
  color: #333;
  letter-spacing: 0.48px;
}
@media screen and (max-width: 767px) {
  .p-contact__text {
    text-align: left;
    margin-top: 60px;
  }
}

.p-contact__form {
  margin-top: 48px;
}
@media screen and (max-width: 767px) {
  .p-contact__form {
    margin-top: 32px;
  }
}

.p-contact__fields {
  width: 520px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-contact__fields {
    width: 100%;
  }
}

.p-contact__field + .p-contact__field {
  margin-top: 32px;
}

.p-contact__field-label {
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  display: inline-block;
  line-height: 1.5;
}

.p-contact__field-item {
  margin-top: 4px;
}

.c-form-text {
  border: 1px solid #2f2f2f;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: clamp(1rem, 0.8459507042rem + 0.6572769953vw, 1.4375rem);
  width: 100%;
  outline: none;
}
.c-form-text::-webkit-input-placeholder {
  color: #bdbdbd;
}
.c-form-text::-moz-placeholder {
  color: #bdbdbd;
}
.c-form-text:-ms-input-placeholder {
  color: #bdbdbd;
}
.c-form-text::-ms-input-placeholder {
  color: #bdbdbd;
}
.c-form-text::placeholder {
  color: #bdbdbd;
}
.c-form-text:focus {
  border: 1px solid #159741;
  -webkit-box-shadow: 0px 0px 4px 0px #159741;
          box-shadow: 0px 0px 4px 0px #159741;
}

.p-contact__field-tag {
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 1.5;
  color: #fff;
  font-size: 12px;
  padding: 1px 7px 3px 8px;
  background-color: #159741;
  border-radius: 6px;
  margin-left: clamp(0.625rem, 0.448943662rem + 0.7511737089vw, 1.125rem);
}

.c-form-textarea {
  width: 100%;
  height: 160px;
  border: 1px solid #2f2f2f;
  padding-top: 13px;
  padding-left: 23px;
  outline: none;
}
.c-form-textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}
.c-form-textarea::-moz-placeholder {
  color: #bdbdbd;
}
.c-form-textarea:-ms-input-placeholder {
  color: #bdbdbd;
}
.c-form-textarea::-ms-input-placeholder {
  color: #bdbdbd;
}
.c-form-textarea::placeholder {
  color: #bdbdbd;
}
.c-form-textarea:focus {
  border: 1px solid #159741;
  -webkit-box-shadow: 0px 0px 4px 0px #159741;
          box-shadow: 0px 0px 4px 0px #159741;
}

.p-contact__privacy {
  margin-top: 33px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-contact__privacy {
    margin-top: 35px;
  }
}

.p-contact__privacy-checkbox {
  cursor: pointer;
}

.p-contact__checkbox-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.p-contact__checkbox-input:checked + .p-contact__privacy-text::before {
  background: rgba(21, 151, 65, 0.15);
  border: 1px solid #159741;
  -webkit-box-shadow: 0px 0px 4px 0px #159741;
          box-shadow: 0px 0px 4px 0px #159741;
}
.p-contact__checkbox-input:checked + .p-contact__privacy-text::after {
  opacity: 1;
}

.p-contact__privacy-text {
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  line-height: 150%;
  letter-spacing: clamp(0.05rem, 0.0477992958rem + 0.0093896714vw, 0.05625rem);
  padding-left: 42px;
  position: relative;
}
.p-contact__privacy-text::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  border: 1px solid #2f2f2f;
  background: #fff;
}
.p-contact__privacy-text::after {
  position: absolute;
  content: "";
  left: 3px;
  top: 6px;
  width: 24px;
  height: 18px;
  background: url(/img/contact-arrow.png) no-repeat center center/contain;
  opacity: 0;
}
.p-contact__privacy-text:focus::before {
  border: 1px solid #159741;
  -webkit-box-shadow: 0px 0px 4px 0px #159741;
          box-shadow: 0px 0px 4px 0px #159741;
}
.p-contact__privacy-text a {
  color: #159741;
  text-decoration-line: underline;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.p-contact__privacy-text a:hover {
  opacity: 0.7;
}

.contact__form-button {
  margin-top: 42px;
  text-align: center;
}

.contact__form-button-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.9px;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: #159741;
  width: 239px;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .contact__form-button-link {
    width: 100%;
  }
}
.contact__form-button-link:hover {
  opacity: 0.7;
}